/* COLORS: */
/* dark: rgb(18, 18, 18) */
/* meg-blue: rgb(190, 255, 255) */
/* forestgreen: rgb(34, 139, 34) */
/* honeydew: rgb(240, 255, 240) */

/* FONTS: */
/* body: 'freight-sans-pro', 'Freight Sans Pro', sans-serif */
/* alt: 'futura-pt', 'Futura', sans-serif */
        

body {
    font-family: 'freight-sans-pro', 'Freight Sans Pro', sans-serif;
    color: honeydew;
    hyphens: auto;
    background-color: rgb(18, 18, 18);
    margin: 40px 0px 10px 0px;
    font-size: 1.15rem;
}
main {
    min-height: 60vh;
}



/* links */
a {
    color: rgb(0, 138, 138);
    font-weight: bolder;
}
a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(190, 255, 255);
}
a:active {
    text-decoration: underline;
}



/* subheads */
h1 {
    font-family: 'futura-pt', 'Futura', sans-serif;
    color: rgb(190, 255, 255);
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: .05em;
}
h2, #mc_embed_signup h2 {
    font-family: 'futura-pt', 'Futura', sans-serif;
    font-size: 1.75rem;;
    font-weight: 500;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 8px;
}

h3 {
    font-family: 'futura-pt', 'Futura', sans-serif;
    font-weight: 500;
    margin-block-end: 3px;
}

/* body text */
p {
    margin-block-start: 0;
}
.lede {
    text-transform: uppercase;
    letter-spacing: .06em;
    font-weight: 900;
    color: rgb(190, 255, 255);
}

.no-hyphen {
    hyphens:none;
}

/* header */
.main-nav {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-left: 0;
}
.main-nav li {
    padding: 0 10px;
    font-size: .9rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .15em;
    border-right: solid 1px;
}
#last-nav-item {
    border-right: none;
}

nav a {
    text-decoration: none;
    color: rgb(240, 255, 240);
    font-weight: normal;
}
nav a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(240, 255, 240);
}

/* footer */
footer {
    color: rgba(240, 255, 240, .5);
    width: 92%;
    margin: 100px auto 10px;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 1rem;

}

.copyright {
    float: right;
    margin-top: -32px;
    margin-bottom: 20px;

}

/* homepage */
.title-h1 {
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: 0;
}

.cover-image {
    background-image: url(assets/trays-small.jpg);
    padding-top: 40px;
    padding-bottom: 20px;
    margin: auto;
    max-width: 960px;
}

.image-overlay {
    background-color: rgb(18, 18, 18, .5);
}

.cover {
    width: 90%;
    max-width: 700px;
    margin: auto;
    padding: 30px 10px;
    font-size: 1.8em;
    font-weight: 500;
    line-height: 110%;
}

/* .prompt {
 text-align: center;
 font-weight: 500;
 letter-spacing: .03em;
} */

.cover-links-container{
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 400px;
}

.prompt-link {
    color: rgb(190, 255, 255);
}

.prompt-link:hover {
    text-decoration-color: rgb(0, 138, 138);
}

.paren {
    display: block;
    text-transform: lowercase;
    font-weight: 100;
    font-size: .95rem;
    font-style: italic;
    letter-spacing: normal;
    line-height: 150%;
}

.email-signup {
    margin: 100px auto;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

/* accordion */
.abstract, .qs {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
}
.abstract h2 {
    text-align: left;
    margin-block-end: 4px;
    font-weight: 600;
    color: rgb(190, 255, 255);
}
.accordion summary {
    font-family: 'futura-pt', 'Futura', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    padding: .75em 0;
}
.accordion details summary { 
    cursor: pointer;
    color: rgb(190, 255, 255);
}

.accordion summary {
    list-style: none;
}

.accordion details > summary::-webkit-details-marker {
    display: none;
  }

.accordion summary::before {
    content: '+';
    display: inline-block;
    margin-right: 0.5em;
    transform: rotate(0deg);
    transition: transform 0.2s ease-out;
}
.accordion details[open] summary::before {
    transform: rotate(45deg);
}
.qs-img {
    display: block;
    max-width: 60%;
    margin: 40px auto;
}

/* tabs */

.overview {
    width: 85%;
    max-width: 700px;
    margin: 20px auto;
}

.tabs {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    color: rgb(18, 18, 18);
    position: relative;
    background-color: rgb(240, 255, 240, .8);
    margin: auto;
    max-width: 700px;
}


.tabs summary {
    list-style: none;
    cursor: pointer;
    text-align: center;
    padding: 1em;
    text-transform: uppercase;
}

.tabs details > summary::-webkit-details-marker {
    display: none;
  }

.tabs details {
    width: 33.33%;
}

.tabs details[open] {
    background-color: rgb(240, 255, 240);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);
}

.tabs details[open] summary{
    font-weight: 500;
}

.tabs .tab-text {
    position: absolute;
    max-width: 100%;
	left: 0;
	right: 0;
    padding: 1em;
    background-color: rgb(240, 255, 240);
}

.set-in-image {
    width: 100%;
    height: auto;
    border: 2px solid black;
    margin-bottom: 10px;
}

.img-cap {
    margin-top: -15px;;
    margin-bottom: 20px;
}

.end-img {
    width: 120%;
    margin: 30px -20px;
    height: fit-content;
}

.wholesale-form {
    margin: auto;
    text-align: center;
}